@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
html:focus-within,
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
a:not([class]),
a {
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto;
}
img,
picture {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
    font: inherit;
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
:root {
    --spacing: 4rem;
    --yellow-500: #ed8b00;
    --white: #ffffff;
    --gray-900: #17161e;
    --gray-700: #212121;
    --gray-600: #353535;
    --gray-200: #f8f8fa;
    --gray-300: #f3f4f7;
    --ff-primary: "Bebas Neue", cursive;
    --ff-body: "Open Sans";
}
@media (min-width: 42em) {
    :root {
        --spacing: 5rem;
    }
}
@media (min-width: 62em) {
    :root {
        --spacing: 6rem;
    }
}
html {
    font-size: 87.5%;
}
@media (min-width: 40em) {
    html {
        font-size: 93.75%;
    }
}
@media (min-width: 60em) {
    html {
        font-size: 100%;
    }
}
body {
    font-family: var(--ff-body, sans-serif);
    color: var(--gray-700);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-title, sans-serif);
    line-height: 1.3;
}
::selection {
    background-color: var(--yellow-500);
    color: var(--gray-200);
}
::-webkit-scrollbar {
    width: 0.75em;
}
::-webkit-scrollbar-track {
    background: var(--yellow-500);
}
::-webkit-scrollbar-thumb {
    background: var(--gray-200);
    border: 2px solid var(--yellow-500);
    border-radius: 10px;
}
.container {
    width: min(90%, 75em);
    margin-inline: auto;
}
.padding {
    padding-block: var(--spacing);
}
.flow > * + * {
    margin-top: var(--flow, 2rem);
}
.auto-columns {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(90%, var(--size, 20rem)), 1fr)
    );
    gap: var(--gap, 1.525rem);
}
.auto-flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1.525rem);
}
.auto-flex > * {
    flex: 1 1 var(--size, 20rem);
}
:focus {
    outline: none;
}
input[type="submit"]:disabled {
    filter: grayscale(5) opacity(0.8) !important;
    cursor: not-allowed !important;
}
.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 40px;
    font-weight: bold;
    color: var(--white);
    padding: 1rem 3rem;
    background: linear-gradient(269.97deg, #ffb800 2.05%, #ed8b00 97.01%);
    border-radius: 40px;
    transition: all ease-in-out 0.6s;
}
.primary-button:hover {
    opacity: 0.8;
}
@media (max-width: 1100px) {
    .primary-button {
        display: none;
    }
}
.second-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 40px;
    font-weight: bold;
    color: var(--white);
    padding: 1rem 3rem;
    background: var(--gray-900);
    border-radius: 40px;
    transition: all ease-in-out 0.6s;
}
.second-button:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1100px) {
    .second-button {
        display: none;
    }
}
.yellow-text {
    color: var(--yellow-500);
}
.white-text {
    color: var(--white);
}
.gray-900-text {
    color: var(--gray-900);
}
.gray-700-text {
    color: var(--gray-700);
}
.gray-600-text {
    color: var(--gray-600);
}
.title {
    font-family: var(--ff-primary);
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 40px;
}
.subtitle {
    font-size: 28px;
}
@media (max-width: 1100px) {
    #lp .open-modal-form {
        display: flex !important;
        position: fixed;
        bottom: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        font-weight: bold;
        color: var(--white);
        padding: 1rem 3rem;
        background: linear-gradient(269.97deg, #ffb800 2.05%, #ed8b00 97.01%);
        border: none;
        transition: all ease-in-out 0.6s;
        z-index: 3;
    }
}
#lp #section-1 {
    background: url("../img/bg-section-1.jpg") center center/cover no-repeat;
    padding: 5rem 0;
}
@media (max-width: 1100px) {
    #lp #section-1 {
        overflow: hidden;
    }
}
@media (max-width: 520px) {
    #lp #section-1 {
        background: url("../img/bg-section-1.jpg") 40% center/cover no-repeat;
    }
}
#lp #section-1 .row {
    display: grid;
    grid-template-columns: 54% 38%;
    gap: 6rem;
}
@media (max-width: 1100px) {
    #lp #section-1 .row {
        grid-template-columns: 1fr;
    }
}
#lp #section-1 .row .box:nth-child(1) .content-text {
    max-width: 470px;
}
#lp #section-1 .row .box:nth-child(1) .content-text img {
    margin-bottom: 4rem;
}
#lp #section-1 .row .box:nth-child(1) .content-text h1 {
    margin-bottom: 2.5rem;
}
#lp #section-1 .row .box:nth-child(1) .content-text h1 span {
    color: var(--white);
}
#lp #section-1 .row .box:nth-child(1) .content-text p strong span {
    color: var(--yellow-500) !important;
}
#lp #section-1 .row .box:nth-child(1) .content-text p:not(p:nth-child(5)) {
    margin-bottom: 2.5rem;
}
@media (max-width: 1100px) {
    #lp #section-1 .row .box:nth-child(2).closed {
        transform: translate(-8rem, 8rem);
        opacity: 0;
        position: absolute;
        overflow: hidden;
    }
    #lp #section-1 .row .box:nth-child(2).open {
        transform: translate(0, 0);
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 4;
    }
    #lp #section-1 .row .box:nth-child(2).open #form {
        padding-top: 6rem;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        z-index: 4;
        overflow: auto;
    }
    #lp #section-1 .row .box:nth-child(2).open #form .close-button {
        display: flex !important;
        position: absolute;
        right: 2rem;
        top: 3rem;
        border: none;
        background: rgba(0, 0, 0, 0);
    }
    #lp
        #section-1
        .row
        .box:nth-child(2).open
        #form
        .close-button
        span:first-child {
        width: 35px;
        height: 3px;
        background-color: var(--yellow-500);
        transform: rotate(45deg) translate(1.7rem, -1.7rem);
    }
    #lp
        #section-1
        .row
        .box:nth-child(2).open
        #form
        .close-button
        span:last-child {
        width: 35px;
        height: 3px;
        background-color: var(--yellow-500);
        transform: rotate(-45deg);
    }
}
#lp #section-1 .row .box:nth-child(2) #form {
    background-color: var(--white);
    padding: 2.3rem;
}
#lp #section-1 .row .box:nth-child(2) #form .box-title h3 {
    font-family: var(--ff-primary);
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 1.5rem;
    max-width: 246px;
}
#lp #section-1 .row .box:nth-child(2) #form form {
    margin-top: 1.5rem;
}
#lp #section-1 .row .box:nth-child(2) #form form .form-columns-2 {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 1rem;
}
#lp #section-1 .row .box:nth-child(2) #form form .hs-form-field {
    padding-bottom: 1.25rem;
    width: 100%;
}
#lp #section-1 .row .box:nth-child(2) #form form .hs-form-field label {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    align-items: flex-start;
    display: flex;
    cursor: pointer;
    width: 100%;
}
#lp
    #section-1
    .row
    .box:nth-child(2)
    #form
    form
    .hs-form-field
    label
    input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#lp #section-1 .row .box:nth-child(2) #form form .hs-form-field label span {
    color: #222;
}
#lp #section-1 .row .box:nth-child(2) #form form .hs-form-field input,
#lp #section-1 .row .box:nth-child(2) #form form .hs-form-field select {
    height: 1.875rem;
    margin-right: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #eaeaea;
    transition: all ease-in-out 0.4s;
}
#lp #section-1 .row .box:nth-child(2) #form form .hs-form-field input:focus,
#lp #section-1 .row .box:nth-child(2) #form form .hs-form-field select:focus {
    border-bottom: 1px solid var(--yellow-500) !important;
}
#lp #section-1 .row .box:nth-child(2) #form form .hs-error-msg {
    color: #db2020;
    font-size: 0.8rem;
    line-height: 1.2;
    display: block;
    margin-top: 0.5rem;
}
#lp
    #section-1
    .row
    .box:nth-child(2)
    #form
    form
    .hs-form-booleancheckbox-display
    input {
    position: relative;
    top: 4px;
}
#lp
    #section-1
    .row
    .box:nth-child(2)
    #form
    form
    .hs-form-booleancheckbox-display
    span {
    font-size: 0.85rem;
}
#lp #section-1 .row .box:nth-child(2) #form form .hs-richtext p {
    font-size: 0.85rem !important;
    margin: 0 !important;
    max-width: 100% !important;
}
#lp #section-1 .row .box:nth-child(2) #form form .hs-richtext a {
    font-weight: 700;
    color: var(--yellow-500);
}
#lp #section-1 .row .box:nth-child(2) #form form .grecaptcha-badge {
    display: none;
}
#lp #section-1 .row .box:nth-child(2) #form form .hs-button {
    cursor: pointer;
    font-size: 1.25rem;
    outline: none;
    border: none;
    color: var(--white);
    border-radius: 100vmax;
    padding: 0.5rem 2.5rem;
    background: linear-gradient(269.97deg, #ffb800 2.05%, #ed8b00 97.01%);
    display: block;
    max-width: max-content;
    text-align: center;
    margin-inline: auto;
    min-height: 40px;
    display: grid;
    place-items: center;
}
#lp #section-1 .row .box:nth-child(2) #form form .hs-button:hover,
#lp #section-1 .row .box:nth-child(2) #form form .hs-button:focus {
    transition: filter 300ms linear;
    will-change: filter;
    filter: brightness(0.9);
}
#lp #section-1 .row .box:nth-child(2) #form form .hs-dependent-field > div {
    padding-bottom: 0;
}
#lp #section-1 .row .box:nth-child(2) #form form select {
    width: 100% !important;
}
#lp
    #section-1
    .row
    .box:nth-child(2)
    #form
    form
    #phone_ext-75723112-7c84-4335-aba8-666f03aa289e {
    width: 30% !important;
    display: none;
}
#lp
    #section-1
    .row
    .box:nth-child(2)
    #form
    form
    .hs-fieldtype-intl-phone.hs-input
    input {
    width: 100% !important;
}
#lp #section-1 .row .box:nth-child(2) #form form .form-columns-2,
#lp #section-1 .row .box:nth-child(2) #form form .form-columns-1 {
    max-width: unset !important;
}
#lp #section-1 .row .box:nth-child(2) #form form input:focus,
#lp #section-1 .row .box:nth-child(2) #form form select:focus {
    border-bottom: 1px solid var(--clr-accent-yellow) !important;
}
#lp #section-2 {
    padding: 8rem 0;
    background-color: var(--gray-200);
}
#lp #section-2 .container .row:nth-child(1) {
    margin-bottom: 5rem;
}
#lp #section-2 .container .row:nth-child(1) h2 {
    margin-bottom: 2.5rem;
}
#lp #section-2 .container .row:nth-child(1) .items {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    gap: 3rem;
    margin-bottom: 4rem;
}
@media (max-width: 1100px) {
    #lp #section-2 .container .row:nth-child(1) .items {
        grid-template-columns: 45% 45%;
    }
}
@media (max-width: 1100px) {
    #lp #section-2 .container .row:nth-child(1) .items {
        gap: 1rem;
    }
}
#lp #section-2 .container .row:nth-child(1) .items .item h3 {
    border-left: 1px solid var(--yellow-500);
    padding-left: 1.8rem;
    font-weight: 400;
}
#lp #section-2 .container .row:nth-child(1) .items .item p {
    padding-left: 1.8rem;
}
#lp #section-2 .container .row:nth-child(2) .clients h2 {
    margin-bottom: 2.5rem;
}
#lp #section-2 .container .row:nth-child(2) .clients .list-brands {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
}
@media (max-width: 520px) {
    #lp #section-2 .container .row:nth-child(2) .clients .list-brands {
        flex-wrap: wrap;
        justify-content: center;
    }
}
#lp #section-3 {
    background: linear-gradient(
        180deg,
        rgb(248, 248, 250) 0%,
        rgb(248, 248, 250) 20%,
        rgb(243, 244, 247) 20%
    );
}
@media (max-width: 1100px) {
    #lp #section-3 {
        background: var(--gray-300);
        padding-bottom: 2rem;
    }
}
#lp #section-3 .row {
    display: grid;
    grid-template-columns: 47% 47%;
}
@media (max-width: 1100px) {
    #lp #section-3 .row {
        grid-template-columns: 1fr;
    }
}
#lp #section-3 .row .box:nth-child(1) {
    display: flex;
    align-items: flex-end;
}
#lp #section-3 .row .box:nth-child(1) .text {
    padding-top: 2rem;
    max-width: 355px;
    margin-bottom: 4rem;
}
@media (max-width: 1100px) {
    #lp #section-3 .row .box:nth-child(1) .text {
        max-width: 100%;
    }
}
#lp #section-3 .row .box:nth-child(1) .text img {
    margin-bottom: 2rem;
}
#lp #section-3 .row .box:nth-child(1) .text h2 {
    margin-bottom: 1.5rem;
}
#lp #section-3 .row .box:nth-child(2) {
    position: relative;
}
#lp #section-3 .row .box:nth-child(2) span.yellow-line {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--yellow-500);
    width: 263px;
    height: 3px;
    top: 50%;
    transform: translate(-12rem, -50%);
}
@media (max-width: 1100px) {
    #lp #section-3 .row .box:nth-child(2) span.yellow-line {
        display: none;
    }
}
#lp #section-3 .row .box:nth-child(2) span.square-points {
    content: "";
    position: absolute;
    background: url("../img/yellow-square-points.svg") center center/contain
        no-repeat;
    display: block;
    height: 62px;
    width: 62px;
    bottom: 0;
    right: 0;
    transform: translate(2.9rem, -4rem);
}
@media (max-width: 1100px) {
    #lp #section-3 .row .box:nth-child(2) span.square-points {
        display: none;
    }
}
#lp #section-4 {
    padding-bottom: 0;
    background: var(--gray-200) url("../img/men.png") right bottom/50rem
        no-repeat;
}
@media (max-width: 1300px) {
    #lp #section-4 {
        background: var(--gray-200);
    }
}
#lp #section-4 .container:nth-child(1) .items {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    column-gap: 2rem;
    margin-bottom: 3rem;
}
@media (max-width: 1100px) {
    #lp #section-4 .container:nth-child(1) .items {
        grid-template-columns: 45% 45%;
    }
}
#lp #section-4 .container:nth-child(1) .items .item {
    border-left: 1px solid #e5e5e5;
}
#lp #section-4 .container:nth-child(1) .items .item img {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    height: 5.8rem;
}
#lp #section-4 .container:nth-child(1) .items .item p {
    border-left: 1px solid var(--yellow-500);
    padding-left: 2rem;
}
#lp #section-4 .container:nth-child(1) a {
    margin-bottom: 6rem;
}
#lp #section-4 .row {
    background: linear-gradient(
        90deg,
        rgb(23, 22, 30) 0%,
        rgb(23, 22, 30) 40%,
        transparent 40%
    );
}
@media (max-width: 1300px) {
    #lp #section-4 .row {
        background: var(--gray-900);
    }
}
#lp #section-4 .row .container {
    position: relative;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 4rem;
    background-color: var(--gray-900);
}
@media (max-width: 1100px) {
    #lp #section-4 .row .container {
        grid-template-columns: 100%;
        padding-bottom: 6rem;
    }
}
#lp
    #section-4
    .row
    .container
    .box:nth-child(1)
    .title-content
    .vertical-yellow-line {
    display: block;
    width: 3px;
    height: 76px;
    margin-bottom: 1rem;
    background-color: var(--yellow-500);
}
#lp #section-4 .row .container .box:nth-child(1)::before {
    content: "";
    position: absolute;
    background: url("../img/yellow-square-points.svg") center center/contain
        no-repeat;
    display: block;
    height: 62px;
    width: 62px;
    bottom: 0;
    left: 0;
    transform: translate(-6rem, 2rem);
}
#lp #section-4 .row .container .box:nth-child(2) {
    padding-top: 6rem;
}
#lp #section-4 .row .container .box:nth-child(2) .carousel .slides {
    display: flex;
    gap: 4rem;
}
#lp #section-4 .row .container .box:nth-child(2) .carousel .slides h3 {
    margin-bottom: 1.5rem;
    font-weight: 400;
}
#lp
    #section-4
    .row
    .container
    .box:nth-child(2)
    .carousel
    .slides
    .slick-prev.slick-arrow {
    display: none !important;
}
#lp
    #section-4
    .row
    .container
    .box:nth-child(2)
    .carousel
    .slides
    .slick-next.slick-arrow {
    border: none;
    font-size: 0;
    width: 20%;
    height: auto;
    background: rgba(0, 0, 0, 0) url(../img/yellow-left-arrow.svg) center
        center/contain no-repeat;
    transform: rotate(180deg);
    cursor: pointer;
}
@media (max-width: 1100px) {
    #lp
        #section-4
        .row
        .container
        .box:nth-child(2)
        .carousel
        .slides
        .slick-next.slick-arrow {
        width: 50%;
    }
}
#lp #section-4 .row .container .box:nth-child(2) a.primary-button {
    margin-top: 1.5rem;
}
#lp #section-6 {
    padding: 6rem 0;
    background: var(--gray-200);
}
#lp #section-6 .container .row:nth-child(1) {
    display: grid;
    grid-template-columns: 46% 46%;
    gap: 4rem;
}
@media (max-width: 1100px) {
    #lp #section-6 .container .row:nth-child(1) {
        grid-template-columns: 1fr;
    }
}
#lp #section-6 .container .row:nth-child(1) .box:nth-child(1) h3 {
    margin-bottom: 2.5rem;
}
#lp #section-6 .container .row:nth-child(1) .box:nth-child(1) p {
    margin-bottom: 2.1rem;
}
#lp #section-6 .container .row:nth-child(1) .box:nth-child(1):last-child {
    margin-bottom: 0;
}
#lp #section-6 .container .row:nth-child(1) .box:nth-child(2) .items {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 3rem 4rem;
}
@media (max-width: 520px) {
    #lp #section-6 .container .row:nth-child(1) .box:nth-child(2) .items {
        gap: 1rem;
    }
}
#lp #section-6 .container .row:nth-child(1) .box:nth-child(2) .items img {
    margin-bottom: 2rem;
    height: 2.2rem;
}
#lp #section-6 .row.about-section .about {
    position: relative;
    background: url("../img/bg-section-about.png") center center/cover no-repeat;
    width: min(93%, 76em);
    margin: -7rem auto 0;
    padding: 6.9rem;
    z-index: 2;
    transform: translateY(13.43rem);
}
@media (max-width: 520px) {
    #lp #section-6 .row.about-section .about {
        padding: 3rem;
    }
}
#lp #section-6 .row.about-section .about .content-text {
    max-width: 45%;
}
@media (max-width: 520px) {
    #lp #section-6 .row.about-section .about .content-text {
        max-width: 100%;
    }
}
#lp #section-6 .row.about-section .about .content-text h3 {
    margin-bottom: 2.5rem;
}
#lp #section-6 .row.about-section .about .content-text p {
    margin-bottom: 2.2rem;
}
#lp #section-6 .row.about-section .about .content-text p:nth-child(4) {
    margin-bottom: 0;
}
#lp footer {
    background: var(--gray-900);
    padding-top: 13.43rem;
    z-index: 1;
}
#lp footer .container .text {
    text-align: center;
    margin-bottom: 8.12rem;
}
#lp footer .container .text p {
    margin-bottom: 1rem;
}
#lp footer .container .text h3 {
    margin: 0 auto 4rem;
    max-width: 635px;
}
#lp footer .container .text a {
    margin: 0 auto;
}
#lp footer .container .bar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}
#lp footer .container .bar-footer .stamps {
    display: flex;
    gap: 1rem;
}
#tkp #section-1 {
    min-height: 100vh;
    background: url("../img/bg-section-1.jpg") center center/cover no-repeat;
    padding: 5rem 0;
}
@media (max-width: 1100px) {
    #tkp #section-1 {
        height: auto;
    }
}
@media (max-width: 520px) {
    #tkp #section-1 {
        background: url("../img/bg-section-1.jpg") 35% center/cover no-repeat;
    }
}
#tkp #section-1 .row {
    display: grid;
    grid-template-columns: 54% 38%;
    gap: 6rem;
}
@media (max-width: 1100px) {
    #tkp #section-1 .row {
        grid-template-columns: 100%;
    }
}
#tkp #section-1 .row .box:nth-child(1) .content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 470px;
}
#tkp #section-1 .row .box:nth-child(1) .content-text .logo {
    max-width: 116px;
    margin-bottom: 4rem;
}
#tkp #section-1 .row .box:nth-child(1) .content-text h1 {
    margin-bottom: 2.5rem;
}
#tkp #section-1 .row .box:nth-child(1) .content-text p {
    margin-bottom: 1.5rem;
}
#tkp #section-1 .row .box:nth-child(1) .content-text .content-blog {
    margin-top: 8rem;
}
#tkp
    #section-1
    .row
    .box:nth-child(1)
    .content-text
    .content-blog
    span.divider {
    display: block;
    width: 54px;
    height: 3px;
    background-color: var(--yellow-500);
    margin-bottom: 1.75rem;
}
#tkp #section-1 .row .box:nth-child(1) .content-text .content-blog p {
    font-size: 1.5rem;
}
#tkp
    #section-1
    .row
    .box:nth-child(1)
    .content-text
    .content-blog
    .content-button {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1100px) {
    #tkp
        #section-1
        .row
        .box:nth-child(1)
        .content-text
        .content-blog
        .content-button
        img {
        width: 100px;
    }
}
#tkp #section-2 .container .row {
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
}
#tkp #section-2 .container .row .box:nth-child(1) .content-text h3 {
    position: relative;
}
#tkp #section-2 .container .row .box:nth-child(1) .content-text h3::before {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 142px;
    background: var(--yellow-500);
    left: 0;
    top: 0;
    transform: translate(-10rem, 1rem);
}
@media (max-width: 1100px) {
    #tkp #section-2 .container .row .box:nth-child(1) .content-text h3::before {
        display: none;
    }
}
@media (max-width: 520px) {
    #tkp #section-2 .container .row .box:nth-child(2) {
        display: flex !important;
        flex-direction: column-reverse;
    }
}
#tkp #section-2 .container .row .box:nth-child(2) .content-text h3 {
    position: relative;
    max-width: 310px !important;
}
#tkp #section-2 .container .row .box:nth-child(2) .content-text h3::before {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 142px;
    background: var(--yellow-500);
    right: 0;
    top: 0;
    transform: translate(20rem, 4rem);
}
@media (max-width: 1100px) {
    #tkp #section-2 .container .row .box:nth-child(2) .content-text h3::before {
        display: none;
    }
}
#tkp #section-2 .container .row .box:nth-child(1),
#tkp #section-2 .container .row .box:nth-child(2) {
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    gap: 4rem;
    margin-bottom: 7rem;
}
@media (max-width: 1100px) {
    #tkp #section-2 .container .row .box:nth-child(1),
    #tkp #section-2 .container .row .box:nth-child(2) {
        align-items: flex-start;
    }
}
@media (max-width: 1100px) {
    #tkp #section-2 .container .row .box:nth-child(1),
    #tkp #section-2 .container .row .box:nth-child(2) {
        grid-template-columns: 100%;
    }
}
#tkp #section-2 .container .row .box:nth-child(1) .content-text h3,
#tkp #section-2 .container .row .box:nth-child(2) .content-text h3 {
    font-size: 2rem;
    font-family: var(--ff-primary);
    font-weight: 400;
    max-width: 300px;
    margin-bottom: 2rem;
}
#tkp #section-2 .container .row .box:nth-child(1) .content-text p,
#tkp #section-2 .container .row .box:nth-child(2) .content-text p {
    margin-bottom: 2.3rem;
}
#tkp footer {
    background: var(--gray-900);
    padding-top: 5.25rem;
    z-index: 1;
}
#tkp footer .container .row {
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    gap: 4rem;
    margin-bottom: 7rem;
    align-items: flex-start;
}
@media (max-width: 520px) {
    #tkp footer .container .row {
        grid-template-columns: 100%;
    }
}
#tkp footer .container .row .box:nth-child(1) img {
    transform: translateY(-8rem);
}
@media (max-width: 1100px) {
    #tkp footer .container .row .box:nth-child(1) img {
        transform: translateY(0);
    }
}
#tkp footer .container .row .box:nth-child(2) h3 {
    font-size: 2rem;
    font-family: var(--ff-primary);
    font-weight: 400;
    max-width: 400px;
    margin-bottom: 2rem;
}
#tkp footer .container .row .box:nth-child(2) p {
    margin-bottom: 2.3rem;
}
#tkp footer .container .bar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}
@media (max-width: 520px) {
    #tkp footer .container .bar-footer {
        flex-direction: column;
        gap: 3rem;
    }
}
#tkp footer .container .bar-footer .stamps,
#tkp footer .container .bar-footer .socials ul {
    display: flex;
    gap: 1rem;
}
#tkp footer .container .bar-footer .socials ul li a:hover {
    text-decoration: none;
    opacity: 0.8;
} /*# sourceMappingURL=style.css.map */
